:root {
  /*Studio*/
  --hero-bg-color: #2e2f42;
  --head-color: #2e2f42;
  --content-color: #434455;
  /*PORTFOLIO*/
  --color-body: #434455;
  --bg-color: #ffffff;
  /* LOGO */
  --color-logo: #4d5ae5;
  --color-logo-studio: #2e2f42;
  --footer-logo-color: #f4f4fd;
  /*NAV MENU*/
  --color-nav-default: #2e2f42;
  /*ADRESS*/
  --color-address-link-default: #434455;
  /*BUTTONS*/
  --button-color: #4d5ae5;
}
/*Studio*/
.hero {
  background-color: var(--hero-bg-color);
}
/*Hero section*/
/*Main title*/
.head-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
/*Order Service Button*/
.order-button {
  background-color: #4d5ae5;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
}
.order-button:hover {
  background-color: #404bbf;
  cursor: pointer;
}

.order-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}

/*Goals section*/
/*Company goal list*/
.goals {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--head-color);
}

.goals-content {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--content-color);
}

/*WHAT ARE WE DOING*/
.wawd {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--head-color);
}

/*Team*/
.list-team {
  background-color: #ffffff;
}
.team {
  background-color: #f4f4fd;
}
.team-head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--head-color);
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--head-color);
}
/*Used for portfolio in picture paragraph*/
.job {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--content-color);
}

.footer {
  background-color: #2e2f42;
}
.footer-content {
  color: var(--footer-logo-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*Portfolio*/
/*general body settings*/
.body {
  font-family: "Roboto", sans-serif;
  color: var(--color-body);
  background-color: var(--bg-color);
}
.link {
  text-decoration: none;
}
.list {
  font-style: normal;
  list-style: none;
}

/*LOGO*/

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-logo);
}
.logo-studio {
  color: var(--color-logo-studio);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.logo-footer {
  color: var(--footer-logo-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*NAV-MENU*/
.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-nav-default);
}

.nav-link:hover {
  color: #404bbf;
}

.nav-link:focus {
  color: #404bbf;
}

/*ADDRESS*/
.address {
  font-style: normal;
}
.ad-menu {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-address-link-default);
}

.ad-menu:hover {
  color: #404bbf;
}

.ad-menu:focus {
  color: #404bbf;
}

.project {
  line-height: 1.2;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: var(--head-color);
}

/*BUTTONS*/
.portfolio-btn {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: var(--button-color);
  background-color: #f4f4fd;
  background-color: transparent 50%;
  border-color: #e7e9fc;
  border-color: transparent 50%;
  cursor: pointer;
}
.portfolio-btn:hover {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: #fff;
  background-color: #404bbf;
  background-color: transparent 50%;
  border-color: #404bbf;
  border-color: transparent 50%;
  cursor: pointer;
}

.portfolio-btn:focus {
  font-family: inherit;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: #fff;
  background-color: #404bbf;
  background-color: transparent 50%;
  border-color: #404bbf;
  border-color: transparent 50%;
  cursor: pointer;
}
